.divTable{
	border: 1px solid #111111;
    display: inline-flex; 
    background-color: #EEE;
    width: 750px;
    height: 400px;
    justify-content: normal;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    min-width: 700px;
}

.photo {
    height: 398px;
}

.text {
    display: table;
    padding: 10px; 
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(4, 86, 119);
    font-size: 1.3rem;
}

.btn-new {
    border: none;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #9d79a1, #674f69);
    box-shadow: 0 5px 0 #473a52;
    align-items: end; /* не работает потому что гдето инлайн блок
    display: block;*/
}

.btn-new:hover {
    background: #473a52;
    box-shadow: none;
    position: relative;
    top: 5px;
}


.btn-new-delete {
    border: none;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #f38bb6, #f13483);
    box-shadow: 0 5px 0 rgb(173, 80, 119);
    align-items: end; /* не работает потому что гдето инлайн блок
    display: block;*/
}

.btn-new-delete:hover {
    background: #473a52;
    box-shadow: none;
    position: relative;
    top: 5px;
}





