.body {
    margin-top: 20px;
    padding: 25px;
    background-color: #bba5b9;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);

    /*width: 100px;
    height: 100px;*/
}

.like {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    background: transparent;
    border: none !important;
    border-radius: 50px;
  /* свойство устанавливает, будет ли повторяться изображение и каким образом 10vmin*/
  /* background-attachment: fixed; cвойство определяет, будет ли фоновое изображение прокручиваться 
  вместе с остальной частью страницы или будет фиксированным */   
}


.inputForm {
  margin-top: 10px;
  font-style: italic;
  background-size: cover;
  box-sizing: border-box;
  border: 2px solid #c0adeb;
  border-radius: 4px;
  background-color: #ccbff1;
  resize: none;
  border-radius: 50px;
  box-shadow: 15px 15px 30px rgba(0,0,0, .15);
}

.colored{
  color: #f74dc4;
  font-size: 30px;
}

.comment {
  margin-top: 10px;
	display: flex;
  padding: 10px; 
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(240, 82, 200);
  font-size: 1.3rem;

}

