.App {
  width: 100%;
  margin:0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 10vmin;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10vmin;
  margin-left:50% ;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-image: url(artist-workshop.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column; /* порядок показания значка и текста */
  font-style: italic;
  color: rgb(210, 196, 219);
  width: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  min-height: 0;
  flex: 1;
  overflow-y: auto; /*без этого футер подниматеся??*/
  display: flex;
  flex-direction: row; 
  background-color:#ddcadc;
}

.App-menu {
  margin-left: 20px;
  height: 100%;
  flex:1;
  display: flex;
  flex-direction: column;
}

.App-menu-row1 {
  width: 100%;
  flex:1;
}


.App-menu-row2 {
  width: 100%;
  flex:1;
}

.App-elements {
  flex:7;
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex-wrap: wrap; /*переносятся на след строку*/
}

.App-tile {
  margin:20px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
}

.footer {
  display: block;
  justify-content: space-between;
  font-style: italic;
  color: rgb(83, 43, 110);
  font-size: calc(1.3rem + .6vw);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

.App-footer {
  background-color: #b68db4;
  box-shadow: 15px 15px 30px rgba(0,0,0, .15);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  /*font-size: calc(10px + 2vmin);*/
  font-style: italic;
  color: rgb(83, 43, 110);
  /*position: fixed;  Фиксированное положение */
  bottom: 0%; /* Расстояние сверху */
  width: 100%;
  /*min-height: 100px;*/
  width: 100%;
}


/*
.prokrutka {
  height:200px;  высота нашего блока  
  border: 1px solid #C1C1C1;  размер и цвет границы блока 
  overflow-y: scroll;  прокрутка по вертикали 
  }
*/


