.body {
    margin: 0px;
}

.parent {
    background-color: #f002dc;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #360b53;
    height: 20px;
    width: 100%;
}

.content {
    background-color: #22c7dd;
    flex:1;
}

.footer {
    background-color: #d9e715;
    height: 20px;
    width: 100%;
}