
.buttonField {
    display: flex;
    flex-direction: row;
    background-color:#473a52;
    height: 70px;
    width: 170px;
    margin-top:10px;
}

.button {
    margin-top: 10px;
	width: 5vmin;
    height: 5vmin;
    margin-left: 4px;
}